<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Загрузка и обработка файла</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wait.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <meta http-equiv="refresh" content="60"> <!-- Обновление каждые 5 секунд -->
</head>
<body>

<div class="top-panel">
  <nav class="nav-bar">
    <ul class="nav-ul">
      <li class="nav-li">
        <a class="nav-a" href="{{url_for('index')}}">Новый файл</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" href="{{url_for('processing')}}">В обработке</a>
      </li>
      <li class="nav-li-active">
        <a class="nav-a" href="{{url_for('complete')}}">Обработанные</a>
      </li>
    </ul>
  </nav>
</div>

<main>
  <div class="content">
    {% if files %}
<!--    <input type="text" id="categorySearchInput" placeholder="Поиск по файлам"-->
<!--       onkeyup="searchTable('completeTable', 'categorySearchInput')">-->
    <table id="completeTable">
      <thead>
      <th>Название</th>
      <th>Статус</th>
      <th>Время обработки</th>
      <th></th>
      </thead>
      <tbody>
      {% for file in files %}
      <tr>
        <td>{{ file.filename }}</td>
        <td>
          <span class="material-icons" style="color: green">done_all</span>
        </td>
        <td>
            <i>{{file.process_time}} s</i>
        </td>
        <td>
          <a href="{{ url_for('ready', filename=file.download_filename) }}">Скачать</a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3>Обработанных файлов еще нет</h3>
    {% endif %}
  </div>
</main>

</body>
</html>