<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Загрузка и обработка файла</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li-active">
                <a class="nav-a" href="{{url_for('index')}}">Новый файл</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('processing')}}">В обработке</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('complete')}}">Обработанные</a>
            </li>
        </ul>
    </nav>
</div>

<main>
  <div class="title">
    {% if status == 'idle' %}
    <h1>Загрузка файла</h1>
    {% else %}
    <h1>Файл обработан</h1>
    {% endif %}
  </div>
  <div class="content">
    <div class="operate">
      {% if status == 'idle' %}
      <div class="add-file">
        <input type="file" id="fileUpload" placeholder="Выберите файл для обработки">
        <input type="button" onclick="uploadFile()" value="Загрузить">
      </div>
      <hr>
      <div class="status">
        <h4>Статус обработки:</h4>
        <ul>
          <li id="statusInfo">Ждем файл</li>
        </ul>
      </div>
      {% elif status == 'complete' %}
      {% if filename != 'undefined' %}
      <div class="get-file">
        <input type="button" onclick="DownloadServerFile('{{ filename }}')" value="Нажми, если загрузка не началась">
        <a href="{{ url_for('index', status='idle') }}">На главную</a>
      </div>
      <script>
        DownloadServerFile('{{ filename }}');
      </script>
      {% else %}
      <div class="get-file">
        <p>Такого файла нет. Проверьте ссылку по которой вы перешли</p>
        <a href="{{ url_for('index', status='idle') }}">На главную</a>
      </div>
      {% endif %}
      {% endif %}
    </div>
    <hr>
    <div class="processed">
      {% if files %}
      <h4 class="title">Уже обработанные файлы</h4>
      <ul class="processed-list">
        {% for filename in files %}
        <li class="element">
          <a href="{{ url_for('ready', filename=filename) }}">{{ filename }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</main>
</body>
</html>